<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хлебзавод «Хлебушек»</title>
    <link rel="stylesheet" href="/css/otherStyle.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>

<header class="header">
    <nav class="nav">
        <ul id="logo">
            <img src="/images/1.png" class="logo">
            <a href="/" class="nav_logo">«Хлебушек»</a>
        </ul>
        <button id="logout" onclick="window.location.href = '/logout'">Выход</button>
    </nav>
</header>
<div class="margintop"></div>

<main>
    <aside id="left"></aside>
    <article>
        <h1 id="panelNameProfile">Меню заказов</h1>
        <h1 id="nameUser"></h1>
        <div id="menu">
            <h3 id="tableName">Принятые заказы</h3>
            <div id="header">
                <table id="thead">
                    <tr>
                        <td>Название</td>
                        <td>Количество</td>
                        <td>Адрес доставки</td>
                        <td>Дата/Время заказа</td>
                        <td>Статус</td>
                    </tr>
                </table>
            </div>
            <div class="adoptedOrders"></div>
        </div>
        <div id="menu">
            <h3 id="tableName">Активные заказы</h3>
            <div id="header">
                <table id="thead">
                    <tr>
                        <td>Название</td>
                        <td>Количество</td>
                        <td>Адрес доставки</td>
                        <td>Дата/Время заказа</td>
                        <td>Статус</td>
                    </tr>
                </table>
            </div>
            <div class="activeOrders"></div>
        </div>
    </article>
    <aside id="right"></aside>
</main>
<footer>
    <p>© ОАО «Хлебушек», 2024</p>
</footer>
<a href='#' class="stt"></a>
<script th:inline="javascript">
    let name = getCookie("cyxaruk");
    document.getElementById("nameUser").textContent = name;
    let orders = [[${adoptedOrders}]];
    let html = "";
    for (let i = 0; i < orders.length; i++) {
        html += `<table>
            <tr>
                <td>
                    <label id="bread${i}Value">${orders[i]["product"]["nameProd"]}</label>
                </td>
                <td>
                    <label id="orderQuantity${i}">${orders[i]["quantity"]}</label>
                </td>
                <td>
                    <label id="orderQuantity${i}">${orders[i]["address"]}</label>
                </td>
                <td>
                    <label id="orderQuantity${i}">${orders[i]["dateTime"]}</label>
                </td>
                <td>
                    <form id="${i}" action="/delivery/setStatusDelivered/${orders[i]["id"]}" method="post">
                        <input type="submit" value="Выполнить">
                    </form>
                </td>
            </tr>
        </table>
    `;
    }
    let adoptedOrders = document.querySelector(".adoptedOrders");
    adoptedOrders.innerHTML = html;
    let orders2 = [[${activeOrders}]];
    let html2 = "";
    for (let i = 0; i < orders2.length; i++) {
        html2 += `<table>
            <tr>
                 <td>
                    <label id="bread${i}Value">${orders2[i]["product"]["nameProd"]}</label>
                </td>
                <td>
                    <label id="orderQuantity${i}">${orders2[i]["quantity"]}</label>
                </td>
                <td>
                    <label id="orderQuantity${i}">${orders2[i]["address"]}</label>
                </td>
                <td>
                    <label id="orderQuantity${i}">${orders2[i]["dateTime"]}</label>
                </td>
                <td>
                    <form id="${i}" action="/delivery/setStatusAdopted/${orders2[i]["id"]}" method="post">
                        <input type="submit" value="Принять">
                    </form>
                </td>
            </tr>
        </table>
    `;
    }
    let activeOrders = document.querySelector(".activeOrders");
    activeOrders.innerHTML = html2;

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
</body>

</html>