<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хлебозавод «Хлебушек»</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="/css/otherStyle.css">
    <style>
        article {
            flex-basis: auto;
        }

        aside {
            flex-basis: auto;
        }
        table{
            font-size: 1.1vw;
        }
        td,td:not(label){
            width: 10%;
        }
    </style>
</head>

<body>
<header class="header">
    <nav class="nav">
        <ul id="logo">
            <img src="/images/1.png" class="logo" alt="Логотип компании">
            <a href="/" class="nav_logo">«Хлебушек»</a>
        </ul>
        <ul class="nav_items">
            <li class="nav_item">
                <a href="/profile" class="nav_link">Личный кабинет</a>
                <a href="/admin" class="nav_link">Редактор продукции</a>
            </li>
        </ul>
        <button id="logout" onclick="window.location.href = '/logout'">Выход</button>
    </nav>
</header>
<div class="margintop"></div>

<main>
    <aside id="left"></aside>
    <article>
        <h1 id="panelName">Admin панель</h1>
        <div id="menu">
            <h3 id="tableName">История заказов</h3>
            <div id="filters">
                <label for="orderStatus">Тип заказа</label>
                <select id="orderStatus">
                    <option value="all">Все заказы</option>
                    <option value="ACTIVE">Активные</option>
                    <option value="ADOPTED">В пути</option>
                    <option value="DELIVERED">Доставленные</option>
                </select>
                <label for="userSelect">Пользователь</label>
                <select id="userSelect">
                    <option value="all">Все пользователи</option>
                </select>

                <label for="startTime">Дата с</label>
                <input type="datetime-local" id="startTime">
                <label for="endTime">Дата по</label>
                <input type="datetime-local" id="endTime">

                <button id="filterBtn">Вывод заказов</button>
            </div>

            <div id="header">
                <table id="thead">
                    <tr>
                        <td>Пользователь</td>
                        <td>Название продукта</td>
                        <td>Количество</td>
                        <td>Адрес</td>
                        <td>Статус</td>
                        <td>Дата заказа</td>
                        <td>Дата доставки</td>
                        <td>Доставщик</td>
                        <td>Удаление</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="changeOrder"></table>
                <div class="container">
                    <button type="button" id="changeBtn" class="buttonOrder">Изменить</button>
                </div>
            </div>
        </div>
    </article>
    <aside id="right"></aside>
</main>

<footer>
    <p>© ОАО «Хлебушек», 2024</p>
</footer>
<a href='#' class="stt"></a>

<script th:inline="javascript">
    let orders = [[${orders}]];
    let users = [[${users}]];
    let htmlOrder = "";
    let quantityNewOrder = [];
    let userSelect = document.getElementById("userSelect");

    users.forEach(user => {
        let option = document.createElement("option");
        option.value = user.id;
        option.textContent = user.login;
        userSelect.appendChild(option);
    });
    function getStatusText(status) {
        switch (status) {
            case "ACTIVE":
                return "Активный";
            case "ADOPTED":
                return "В пути";
            case "DELIVERED":
                return "Доставлен";
            default:
                return status;
        }
    }
    function checkNull(text){
        if (text === null) {
            return "-";
        }
        else return text;
    }
    function renderOrders(orders) {
        htmlOrder = "";
        for (let i = 0; i < orders.length; i++) {
            htmlOrder += `
                    <tr>
                        <td><span id="userName${i}">${orders[i]["user"]["login"]}</span></td>
                        <td><label id="breadName${i}">${orders[i]["product"]["nameProd"]}</label></td>
                        <td><input type="text" id="orderQuantity${i}" value=${orders[i]["quantity"]}></td>
                        <td><label id="orderAddress${i}">${orders[i]["address"]}</label></td>
                        <td><label id="orderStatus${i}">${getStatusText(orders[i]["status"])}</label></td>
                        <td><label id="orderDateTime${i}">${orders[i]["dateTime"]}</label></td>
                        <td><label id="orderDateTimeOfReceipt${i}">${checkNull(orders[i]["dateTimeOfReceipt"])}</label></td>
                        <td><label id="orderDeliverer${i}">${checkNull(orders[i]["deliverer"])}</label></td>
                        <td>
                            <form id="${i}" action="/admin/orderDelete/${orders[i]["id"]}" method="post"><input
                                type="submit" value="Удалить"/></form>
                        </td>
                    </tr>`;
        }
        document.querySelector(".changeOrder").innerHTML = htmlOrder;

        document.querySelector(".buttonOrder").addEventListener('click', function () {
            for (let i = 0; i < orders.length; i++) {
                let newQuant = document.getElementById("orderQuantity" + i).value;
                quantityNewOrder.push(newQuant);
            }
            let data = JSON.stringify({"quantity": quantityNewOrder});
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8080/admin/editOrder", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(data);
            quantityNewOrder = [];
        });
    }

    renderOrders(orders);

    document.getElementById("filterBtn").addEventListener("click", function () {
        let status = document.getElementById("orderStatus").value;
        let userId = document.getElementById("userSelect").value;
        let startDate = document.getElementById("startTime").value;
        let endDate = document.getElementById("endTime").value;

        let filteredOrders = orders.filter(order => {
            let orderDate = parseDate(order["dateTime"]); // Преобразуем дату заказа
            let isStatusMatch = (status === "all" || order["status"] === status);
            let isUserMatch = (userId === "all" || String(order["user"]["id"]) === String(userId));
            let isDateMatch = (!startDate || orderDate >= new Date(startDate)) && (!endDate || orderDate <= new Date(endDate));

            return isStatusMatch && isUserMatch && isDateMatch;
        });

        renderOrders(filteredOrders);
    });

    function parseDate(dateString) {
        let [timePart, datePart] = dateString.split(' ');
        let [hours, minutes] = timePart.split(':').map(Number);
        let [day, month, year] = datePart.split('.').map(Number);
        return new Date(year, month - 1, day, hours, minutes);
    }

</script>

</body>
</html>
