<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хлебзавод «Хлебушек»</title>
    <link rel="stylesheet" href="/css/otherStyle.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>

<body>
<header class="header">
    <nav class="nav">
        <ul id="logo">
            <img src="/images/1.png" class="logo">
            <a href="/" class="nav_logo">«Хлебушек»</a>
        </ul>
        <ul class="nav_items">
            <li class="nav_item">
                <a href="/profile" class="nav_link">Личный кабинет</a>
            </li>
        </ul>
        <button id="logout" onclick="window.location.href = '/logout'">Выход</button>
    </nav>
</header>
<div class="margintop"></div>

<main>
    <aside id="left"></aside>
    <article>
        <h1 id="panelName">Заказ продукции</h1>
        <div id="menu">
            <h3 id="tableName">Продукция</h3>
            <div id="header">
                <table id="thead">
                    <tr>
                        <td>Название</td>
                        <td>Введите количество</td>
                        <td>Доступно</td>
                        <td>Цена</td>
                    </tr>
                </table>
            </div>
            <form action="ordering" class="order"></form>
        </div>
    </article>
    <aside id="right"></aside>
</main>
<footer>
    <p>© ОАО «Хлебушек», 2024</p>
</footer>
<a href='#' class="stt"></a>
<script th:inline="javascript">
    let products = [[${products}]];
    let html = "";
    let quantityNew = [];
    for (let i = 0; i < products.length; i++) {
        html += `<table>
    <tr>
        <td>
            <label for="bread${i}" class="tooltip">${products[i]["nameProd"]}</label>
        </td>
        <td>
            <input type="number" min="0" id="bread${i}" />
        </td>
        <td>
            <span id="bread${i}Value">${products[i]["quantityProd"]}</span>
        </td>
        <td>
            <span id="bread${i}Price">${products[i]["priceProd"]}</span>
        </td>
    </tr>
</table>`;
    }
    html +=`
        <div class="container">
            <table>
                <p>Введите адрес доставки:</p>
                <input id="deliveryAddress" autocomplete="off"/>
                <ul id="suggestions" class="suggestions-list"></ul>
            </table>
            <button type="button" id="changeBtn" class="but">Заказать</button>
        </div>
    <h3 id="order"></h3>`;
    let add = document.querySelector(".order");
    add.innerHTML = html;
    let button = document.querySelector(".but");
    button.addEventListener('click', function () {
        let success = 0;
        for (let i = 0; i < products.length; i++) {
            let prodId = products[i]["id"];
            let inputQuantity = document.getElementById("bread" + i).value * 1;
            let quantity = parseInt(document.getElementById("bread" + i + "Value").textContent);
            if (inputQuantity <= quantity && inputQuantity >= 0) {
                success += 1;
                if (inputQuantity !== 0)
                    quantityNew.push({prodId: prodId, quantity: inputQuantity});
            }
        }
        let address = document.getElementById("deliveryAddress").value;
        let infoMessage = document.getElementById("order");
        if (success === products.length) {
            if (!address.trim()) {
                infoMessage.textContent = "Введите адрес";
                return;
            }
            infoMessage.textContent = "Успешно";
            var xhr = new XMLHttpRequest();
            let user = getCookie("cyxaruk");
            let data = JSON.stringify({"user": user, "quant_list": quantityNew, "address": address});
            quantityNew = [];
            xhr.open("POST", "http://localhost:8080/ordering", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(data);
            for (let i = 0; i < products.length; i++) {
                let inputQuantity = document.getElementById("bread" + i).value * 1;
                let quantity = parseInt(document.getElementById("bread" + i + "Value").textContent);
                document.getElementById("bread" + i + "Value").textContent = quantity - inputQuantity;
            }
        } else {
            infoMessage.textContent = "Неверно введено количество";
            quantityNew = []
        }
    });

    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
</script>
<script >

    const deliveryInput = document.getElementById('deliveryAddress');
    const suggestionsList = document.getElementById('suggestions');

    deliveryInput.addEventListener('input', function () {
        const query = deliveryInput.value;
        if (query.length > 2) { // минимальная длина для запроса
            fetch(`https://geocode-maps.yandex.ru/1.x/?apikey=4bbc9384-4943-4f8b-97f5-dc98c46b4515&geocode=${encodeURIComponent(query)}&format=json`)
                .then(response => response.json())
                .then(data => {
                    suggestionsList.innerHTML = ''; // очищаем предыдущие подсказки
                    const suggestions = data.response.GeoObjectCollection.featureMember;

                    suggestions.forEach(item => {
                        const address = item.GeoObject.metaDataProperty.GeocoderMetaData.text;
                        const li = document.createElement('li');
                        li.textContent = address;
                        li.onclick = () => {
                            deliveryInput.value = address;
                            suggestionsList.innerHTML = ''; // очищаем список после выбора
                        };
                        suggestionsList.appendChild(li);
                    });
                })
                .catch(error => console.error('Ошибка:', error));
        } else {
            suggestionsList.innerHTML = ''; // очищаем список, если ввод меньше 3 символов
        }
    });
</script>

</body>

</html>
